{% extends 'base.html.twig' %}

{% block body %}

    {% if message.status == 1 %}
        <div class="alert alert-success">
    {% else %}
        <div class="alert alert-danger">
    {% endif %}
    {{ message.message }}
    </div>


    <div class="col-3 mx-auto">
        <a href="{{ path('home') }}">
            <button class="btn btn-dark">Retourner à l'accueil</button>
        </a>
    </div>
{% endblock %}